/* Feuille de styles CSS */

body, header, footer, main {
  background: #1995AD;
}

header{
		border-bottom: black 2px solid;
		margin-bottom: 15px;
	}

	body{
	    margin:0px;
	}
	h1{
    text-align: center;
    }

    h2{
    text-align: center;
    }

    p{
    text-align: center;
    }

    h4{
    text-align: center;
    }

	form{
	    text-align: center;
	    width: 100%;
		margin-bottom: 25px;
		background: #A1D6E2;
	}

	#footer{
		background-color:green;
		text-align:right;
		font-weight:bold;
		font-size:20px;
		box-shadow: inset 1px 1px 5px #000;
		margin-top: 25px;
		height: 30px;
	}

	#footer img{
		height: 25px;
		width: 25px;
		vertical-align: text-bottom;
	}

	#footer ul li{
		display: inline;
		margin-right: 5px;
	}

	.container-fluid{
		padding:0;
	}

	#map, #photo, #story, #intro{
		display: none;
	}

	#map{
		text-align: center;
		margin-bottom: 15px;
	}

	#intro{
		margin-top: 15px;
	}

	#question{
		width:400px;
	}

	.spinner-border{
		display:none
	}

	#list{
		display:none;
	}


}