<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{url_for ('static', filename= 'css/style.css') }}"  type="text/css" />
        <title>GranPyBot</title>



    </head>

    <body>
      <h1 >Grandpy Bot </h1>
        <h2><small>Le Papy Robot qui s'y connait en géographie</small></h2>
        <p>
            <img src="/static/img/papybot.png">
        </p>



    </body>

    <footer class="card text-center">

                <p>Projet 7 - Développeur D'application Python - OpenClassrooms</p>


                <p>Gaël Riolland - <a href="https://github.com/donkansigui/granpybot.git" title="repository Github"
                  target="_blank">repository Github</a></p>

</footer>
</html>